/* common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --boo-header: #ff6900;
    --boo-footer: #1a1a1a;
    --boo-discount: #ff0000;
    --boo-sust: #008000;
    --boo-text-ligth: white;
    --boo-text-dark: black;
    --boo-text-gray: #6b8593;
}

body {
    font-family: Helvetica, sans-serif;
}

.hearts:hover {
    color: var(--boo-discount);
}

.discount {
    background-color: var(--boo-discount);
    color: var(--boo-text-ligth);
    font-weight: bold;
    text-align: center;
    font-size: 0.75rem;
    height: 25px;
    width: 38px;
    padding: 5px;
    position: absolute;
    bottom: 2.25rem;
}

.sust {
    background-color: var(--boo-sust);
    color: var(--boo-text-ligth);
    font-weight: bold;
    text-align: center;
    font-size: 0.75rem;
    height: 25px;
    width: 88px;
    padding: 5px;
    position: absolute;
    left: 2.5rem;
    bottom: 2.25rem;
}

.brand {
    color: var(--boo-text-gray);
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1rem;
}

/* end common */

/* utilities */

.d-flex {
    display: flex;
}

/* #region header */

header {
    background-color: var(--boo-header);
    justify-content: center;
    box-shadow: 0 0 0 0.2rem;
    color: #3131313b;
}

.header_cont {
    background-color: var(--boo-header);
    max-width: 1170px;
    width: 80%;
    padding: 0.75rem;
    margin: 0.6rem;
}

.menù,
.login {
    width: 20%;
    display: flex;
    align-items: center;
}

.menù {
    justify-content: start;
}

.login {
    justify-content: end;
    flex-direction: row-reverse;
}

ul,
a {
    text-decoration: none;
    color: var(--boo-text-ligth);
    list-style-type: none;
    padding: 0.3rem;
}

.logo_boo {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #endregion header */

/* #region main */

.container {
    max-width: 1170px;
    width: 80%;
    margin: 6rem auto;
    justify-content: space-around;
}

.card {
    width: 365px;
    height: 570px;
    position: relative;
    
}

.img_card {
    width: 365px;
    height: 570px;
    position: absolute;
}

.img_card:hover{
    display: none;
}

.img_plus{
        width: 365px;
        height: 570px;
}


.hearts {
    background-color: var(--boo-text-ligth);
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0.5rem;
    right: 0;
    font-size: 2.25rem;
    justify-content: center;
    align-items: center;
}


.model {
    font-weight: 700;
}

.price {
    color: var(--boo-discount);
    font-size: 0.9rem;
    font-weight: bold;
}

.old_price {
    font-size: 0.9rem;
    font-weight: bold;
    text-decoration: line-through;
}

/* #endregion main */

/* #region footer */

footer {
    background-color: var(--boo-footer);
    padding: 1.5rem;
    justify-content: center;
}

.cont_footer {
    max-width: 1170px;
    width: 80%;
    height: 50px;
}

.info_footer {
    width: 85%;
}

.cont_icon {
    width: 15%;
}

h3,
h4 {
    color: var(--boo-text-ligth);
    padding: 4.8px;
}

/* #endregion footer */
